<?xml version="1.0"?>
<launch>

  <arg name="global_frame_id"       default="/map"/>
  <arg name="base_frame_id"         default="/base_footprint"/>
  <arg name="global_costmap_topic"  default="/static_costmap/costmap_node/costmap/costmap"/>
  <arg name="local_costmap_topic"   default="/costmap_node/costmap/costmap"/>
  <arg name="obstacle_topic"        default="/move_base/TebLocalPlannerROS/obstacles"/>
  <arg name="movement_tol_max"      default="0.5"/>
  <arg name="movement_tol_min"      default="0.1"/>
  <arg name="prediction_horizon"    default="7.0"/>
  <arg name="timediff_tol"          default="2.0"/>
  <arg name="flowdiff_tol"          default="0.01"/>
  <arg name="window_size"           default="30"/>
  <arg name="use_sim_time"          default="true"/>

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" clear_params="true" ns="static_costmap">
    <rosparam file="$(find obstacle_predictor)/params/costmap_common_params.yaml" command="load" ns="costmap" />
    <rosparam file="$(find obstacle_predictor)/params/static_costmap_params.yaml" command="load" />
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>

  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" clear_params="true" >
    <rosparam file="$(find obstacle_predictor)/params/costmap_common_params.yaml" command="load" ns="costmap" />
    <rosparam file="$(find obstacle_predictor)/params/dynamic_costmap_params.yaml" command="load" />
    <param name="publish_frequency" type="double" value="20.0" />
    <param name="/use_sim_time" value="$(arg use_sim_time)"/>
  </node>
  
  <node pkg="obstacle_predictor" type="obstacle_predictor.py" name="obstacle_predictor"  output="screen">
    <param name="global_frame_id"       value="$(arg global_frame_id)"/>
    <param name="base_frame_id"         value="$(arg base_frame_id)"/>
    <param name="global_costmap_topic"  value="$(arg global_costmap_topic)"/>
    <param name="local_costmap_topic"   value="$(arg local_costmap_topic)"/>
    <param name="obstacle_topic"        value="$(arg obstacle_topic)"/>
    <param name="movement_tol_max"      value="$(arg movement_tol_max)"/>
    <param name="movement_tol_min"      value="$(arg movement_tol_min)"/>
    <param name="prediction_horizon"    value="$(arg prediction_horizon)"/>
    <param name="timediff_tol"          value="$(arg timediff_tol)"/>
    <param name="flowdiff_tol"          value="$(arg flowdiff_tol)"/>
    <param name="window_size"           value="$(arg window_size)"/>
  </node>

</launch>
